name: test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to test kubearmor-action
    steps:
      - name: kubearmor-action test
        uses: zhy76/kubearmor-action@dev
        with:
          old-app-image-name: 'old-app'
          new-app-image-name: 'new-app'
